.link{
    text-decoration: none;
    color: var(--laranja_boiola);
}

.div{
    font-family: "Montserrat", sans-serif;
    margin: auto;
    padding-top: 20px;
}

.link:focus{
    text-decoration: underline;
    color: greenyellow;
}